version: '3.4'

services:
  em.webapi:
    image: ${DOCKER_REGISTRY-}emwebapi
    build:
      context: .
      dockerfile: src/EM.WebApi/Dockerfile

  employeedb:
    image: mcr.microsoft.com/mssql/server:2022-latest    

  distributedcache:
    image: redis/redis-stack-server:latest

volumes:
  employeedb_mssql:
